NODE_ENV=XXXXXXXXXXXXXXXXXXXXXXX
DB_HOST=XXXXXXXXXXXXXXXXXXXXXXX
DB_PORT=XXXXXXXXXXXXXXXXXXXXXXX
DB_NAME=XXXXXXXXXXXXXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXX
DB_USER=XXXXXXXXXXXXXXXXXXXXXXX
DB_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXX

PORT=XXXXXXXXXXXXXXXXXXXXXXX
CORS_ORIGIN=XXXXXXXXXXXXXXXXXXXXXXX

# Isi dengan string acak yang panjang, generate lewat:
# node -e "console.log(require('crypto').randomBytes(48).toString('hex'))"
JWT_SECRET=XXXXXXXXXXXXXXXXXXXXXXX

SNAPSHOT_DIR=XXXXXXXXXXXXXXXXXXXXXXX

PYTHON_EXECUTABLE=XXXXXXXXXXXXXXXXXXXXXXX
PYTHON_PROJECT_DIR=XXXXXXXXXXXXXXXXXXXXXXX
EXTRACT_SCRIPT_PATH=XXXXXXXXXXXXXXXXXXXXXXX
POSE_DB_PATH=XXXXXXXXXXXXXXXXXXXXXXX